<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam View</title>

    <style>
        h1 {
            text-align: center;
        }
        p {
            text-align: justify;
        }
    </style>
</head>
<body>

    <h1>This is exam view</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        In voluptatem quisquam fuga, ea iste corrupti quis sapiente eligendi minus cupiditate,
        aperiam nihil, obcaecati nemo veritatis debitis quas tempora eveniet eius?
    </p>

</body>
</html>


