<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register View</title>
    <link rel = "stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <h1>This is register view</h1>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Explicabo, tenetur repudiandae impedit blanditiis ducimus vitae eveniet molestiae 
        fugiat tempora earum fuga enim officiis quibusdam expedita commodi repellat natus 
        perspiciatis provident!
    </p>

</body>
</html>