<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is the base template file </h1>
    <p1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, tenetur repudiandae impedit blanditiis ducimus vitae eveniet molestiae fugiat tempora earum fuga enim officiis quibusdam expedita commodi repellat natus perspiciatis provident!</p1>
</body>
</html>